<!-- <p>compile works!</p> -->
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Google Analytics Dashboard</a>
      <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul> -->
    </div>
  </nav>
  <app-day-visit-report></app-day-visit-report>
<app-session-report></app-session-report>
<app-countries-report></app-countries-report>
<app-page-view-report></app-page-view-report>
<app-source-report></app-source-report>


<app-browser-report></app-browser-report>
<app-device-report></app-device-report>



<!-- <div class="row">

    <div class="class col left">
        <p>this</p>
        <app-browser-report></app-browser-report>

      </div>
      <div class=" class col right">
      <p>  is to test </p>
      <app-device-report></app-device-report>

      </div>
    
      </div> -->