.input-field input {
    width: 30%;
}
.row {
    width: 50%;
}
/* .end_date {
    padding-right: 50%;
} */

/* canvas{
    width: 10%;
    height: auto;
} */

p {
    padding-left: 37%;
    font-size: 24px;
}

#chart_div {
    display: block;
    margin: 0 auto;
}